@model Kuhlschrank.Models.Fridge

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fridge</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.serialNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.serialNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.temperature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.temperature)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.activated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.activated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
